<html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Upload</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <div class="container">
        <h1>Image Upload</h1>
        <form action="/upload" method='POST' enctype="multipart/form-data">
            <span style="color : red"><%= typeof msg!='undefined'? msg : "" %></span>
                <div class="file-field input-field">
                  <div class="btn blue">
                    <span>Image</span>
                    <input name='Image' type="file">
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                  </div>
                  <button type="submit" class='btn green'>Submit</button>
                </div>
              </form>
              <form action='/api/images' method="post" enctype="multipart/form-data">
                <input type='file' name='image' />
                <button type="submit">Submit</button>
              </form>
                <br>
              <img src="<%= typeof file!='undefined'? file : '' %>" class='img-responsive'  alt="image">
              <img src=imageURL />
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>